# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/
.venv-1/

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db